[submodule "bantracking"]
	path = bantracking
	url = git@git.vauxoo.com:vauxoo/bantracking.git
	branch = 17.0-masterclass-desdelinux
[submodule "brand"]
	path = brand
	url = git@github.com:OCA/brand.git
	branch = 17.0
