[submodule "bantracking"]
	path = bantracking
	url = git@git.vauxoo.com:vauxoo/bantracking.git
	branch = 16.0
[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 16.0
[submodule "brand"]
	path = brand
	url = git@github.com:OCA/brand.git
	branch = 16.0
[submodule "connector"]
	path = connector
	url = git@github.com:OCA/connector.git
	branch = 16.0
[submodule "rest-framework"]
	path = rest-framework
	url = git@github.com:OCA/rest-framework.git
	branch = 16.0
[submodule "server-auth"]
	path = server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 16.0
