[submodule "bantracking"]
	path = bantracking
	url = git@git.vauxoo.com:vauxoo/bantracking.git
	branch = 16.0
[submodule "sh-tools"]
	path = sh-tools
	url = git@git.vauxoo.com:vauxoo/sh-tools.git
	branch = 16.0
